{{/* Optional call-to-action card pinned to the bottom of the blog rail.

  Renders only when `params.blog.rail.sponsor` defines both `text` and `url`.

  @param {dict} config The dict returned by `blog/config.html`.

  @example {{ partial "blog/sponsor.html" (dict "config" $cfg)
}}
*/}}
{{- with .config.rail.sponsor -}}
  {{- if and .text .url -}}
    {{- $external := hasPrefix .url "http" -}}
    <div class="hextra-blog-sponsor">
      {{- with .title }}<p class="hextra-blog-sponsor-title">{{ . }}</p>{{ end -}}
      <p class="hextra-blog-sponsor-text">{{ .text }}</p>
      <a class="hextra-blog-sponsor-link" href="{{ .url }}" {{ if $external }}target="_blank" rel="noreferrer"{{ end }}>
        {{- with .icon -}}
          {{- if partial "utils/icon-exists.html" (dict "name" .) -}}
            {{- partial "utils/icon.html" (dict "name" . "attributes" `height="1em" class="hextra-blog-nav-icon"`) -}}
          {{- else -}}
            {{- warnf "hextra: blog sponsor icon %q not found in data/icons.yaml; skipping" . -}}
          {{- end -}}
        {{- end -}}
        <span>{{ .label | default .text }}</span>
      </a>
    </div>
  {{- end -}}
{{- end -}}
