{{- $content := .content -}}
{{- $color := .color | default .type | default "" -}}{{- /* Compatibility with previous parameter. */ -}}
{{- $class := .class | default "" -}}
{{- $border := .border | default false -}}
{{- $icon := .icon | default "" -}}

{{- /* Compatibility with previous names. */ -}}
{{- $mapping := (dict
  "default" "gray"
  "tip" "green"
  "info" "blue"
  "warning" "yellow"
  "error" "red"
  "important" "purple"
  )
-}}
{{- $color = index $mapping $color | default $color | default "gray" -}}

{{- $styleClass := newScratch -}}
{{- $styleClass.Set "gray" "hx:text-gray-700 hx:bg-gray-100 hx:dark:bg-neutral-800 hx:dark:text-neutral-200 hx:border-gray-400 hx:dark:border-neutral-600" -}}
{{- $styleClass.Set "purple" "hx:border-purple-400 hx:bg-purple-100 hx:text-purple-950 hx:dark:border-purple-800 hx:dark:bg-purple-950 hx:dark:text-purple-100" -}}
{{- $styleClass.Set "indigo" "hx:border-indigo-400 hx:bg-indigo-100 hx:text-indigo-950 hx:dark:border-indigo-800 hx:dark:bg-indigo-950 hx:dark:text-indigo-100" -}}
{{- $styleClass.Set "blue" "hx:border-blue-400 hx:bg-blue-100 hx:text-blue-950 hx:dark:border-blue-800 hx:dark:bg-blue-950 hx:dark:text-blue-100" -}}
{{- $styleClass.Set "green" "hx:border-green-400 hx:bg-green-100 hx:text-green-950 hx:dark:border-green-800 hx:dark:bg-green-950 hx:dark:text-green-100" -}}
{{- $styleClass.Set "yellow" "hx:border-yellow-400 hx:bg-yellow-100 hx:text-yellow-950 hx:dark:border-yellow-800 hx:dark:bg-yellow-950 hx:dark:text-yellow-100" -}}
{{- $styleClass.Set "orange" "hx:border-orange-400 hx:bg-orange-100 hx:text-orange-950 hx:dark:border-orange-800 hx:dark:bg-orange-950 hx:dark:text-orange-100" -}}
{{- $styleClass.Set "amber" "hx:border-amber-400 hx:bg-amber-100 hx:text-amber-950 hx:dark:border-amber-800 hx:dark:bg-amber-950 hx:dark:text-amber-100" -}}
{{- $styleClass.Set "red" "hx:border-red-400 hx:bg-red-100 hx:text-red-950 hx:dark:border-red-800 hx:dark:bg-red-950 hx:dark:text-red-100" -}}

{{- $borderClass := cond (eq $border true) "hx:border" "" -}}
{{- $badgeClass := or ($styleClass.Get $color) ($styleClass.Get "gray") -}}
<div class="hextra-badge {{ $class }}">
  <div class="hx:inline-flex hx:gap-1 hx:items-center hx:rounded-full hx:px-2.5 hx:leading-6 hx:text-[.65rem] {{ $borderClass }} {{ $badgeClass }}">
    {{- with $icon -}}{{- partial "utils/icon" (dict "name" . "attributes" "height=12") -}}{{- end -}}
    {{- $content -}}
  </div>
</div>
{{- /* Strip trailing newline. */ -}}
