{{- $page := .page -}}
{{- $enable := .enable -}}
{{- if (default $enable $page.Params.breadcrumbs) -}}
  <div class="hx:mt-1.5 hx:flex hx:items-center hx:gap-1 hx:overflow-hidden hx:text-sm hx:text-neutral-500 hx:dark:text-neutral-400 hx:contrast-more:text-current">
    {{- range $page.Ancestors.Reverse }}
      {{- if not .IsHome }}
        <div class="hx:whitespace-nowrap hx:transition-colors hx:min-w-[24px] hx:overflow-hidden hx:text-ellipsis hx:hover:text-neutral-900 hx:dark:hover:text-neutral-100">
          <a href="{{ .RelPermalink }}" class="hx:inline-block hx:rounded-sm hx:hextra-focus-visible-inset">{{- partial "utils/title" . -}}</a>
        </div>
        {{- partial "utils/icon.html" (dict "name" "chevron-right" "attributes" "class=\"hx:w-3.5 hx:shrink-0 hx:rtl:-rotate-180\"") -}}
      {{ end -}}
    {{ end -}}
    <div class="hx:whitespace-nowrap hx:transition-colors hx:font-medium hx:text-neutral-700 hx:contrast-more:font-bold hx:contrast-more:text-current hx:dark:text-neutral-100 hx:contrast-more:dark:text-current">
      {{- partial "utils/title" $page -}}
    </div>
  </div>
{{ end -}}
