
  {{- if site.Params.fonts.enable -}}
    {{- with site.Params.fonts -}}
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      {{- with .heading -}}
        {{- $headingFontRaw := .family -}}
        {{- $headingFontAxes := .axes -}}
        {{- $headingFontDisplay := .display -}}
        {{- $headingFont := replace $headingFontRaw " " "+" -}}
        {{- $headingFont_url := printf "https://fonts.googleapis.com/css2?family=%s:%s&display=%s" ($headingFont | safeHTMLAttr ) $headingFontAxes $headingFontDisplay -}}
        <link href="{{ $headingFont_url }}" rel="stylesheet" />
      {{- end -}}
      {{- with .body -}}
        {{- $bodyFontRaw := .family -}}
        {{- $bodyFontAxes := .axes -}}
        {{- $bodyFontDisplay := .display -}}
        {{- $bodyFont := replace $bodyFontRaw " " "+" -}}
        {{- $bodyFont_url := printf "https://fonts.googleapis.com/css2?family=%s:%s&display=%s" ($bodyFont | safeHTMLAttr ) $bodyFontAxes $bodyFontDisplay -}}
        <link href="{{ $bodyFont_url }}" rel="stylesheet" />
      {{- end -}}
      {{- with .code -}}
        {{- $codeFontRaw := .family -}}
        {{- $codeFontAxes := .axes -}}
        {{- $codeFontDisplay := .display -}}
        {{- $codeFont := replace $codeFontRaw " " "+" -}}
        {{- $codeFont_url := printf "https://fonts.googleapis.com/css2?family=%s:%s&display=%s" ($codeFont | safeHTMLAttr ) $codeFontAxes $codeFontDisplay -}}
        <link href="{{ $codeFont_url }}" rel="stylesheet" />
      {{- end -}}
    {{- end -}}
  {{- end -}}