{{ $filename := .filename | default "" -}}
{{ $base_url := .base_url | default "" -}}
{{ $lang := .lang | default "" }}
{{ $icon := .icon | default "" }}
{{ $content := .content }}
{{ $options := .options | default (dict) }}

{{- if $filename -}}
  {{- $iconName := "" -}}
  {{- if or (eq site.Params.highlight.filenameIcon.enable nil) site.Params.highlight.filenameIcon.enable -}}
    {{- $iconName = partial "utils/codeblock-icon" (dict "filename" $filename "lang" $lang "icon" $icon) -}}
  {{- end -}}
  <div class="hextra-code-filename not-prose" dir="auto">
    {{- with $iconName -}}
      {{- partial "utils/icon" (dict "name" . "attributes" `aria-hidden="true"`) -}}
    {{- end -}}
    {{- if $base_url -}}

      {{- $base_url = strings.TrimSuffix "/" $base_url -}}
      {{- $filename = strings.TrimPrefix "/" $filename -}}
      {{- $file_url := urls.JoinPath $base_url $filename -}}


      <a class="hx:no-underline hx:inline-flex hx:items-center hx:gap-1 hx:min-w-0" href="{{ $file_url }}" target="_blank" rel="noopener noreferrer">
        <span class="hx:truncate">{{- $filename -}}</span>
        {{- partial "utils/icon" (dict "name" "external-link" "attributes" "height=1em") -}}
      </a>
    {{- else -}}
      <span class="hx:truncate">{{- $filename -}}</span>
    {{- end -}}
  </div>
{{- end -}}

{{- if transform.CanHighlight $lang -}}
  <div>{{- highlight $content $lang $options -}}</div>
{{- else -}}
  <div>
    <pre><code>{{ $content }}</code></pre>
  </div>
{{- end -}}
