@import "tailwindcss" prefix(hx);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: hsl(var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) + calc(calc(100% - var(--primary-lightness)) / 50) * 47));
  --color-primary-100: hsl(var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) + calc(calc(100% - var(--primary-lightness)) / 50) * 44));
  --color-primary-200: hsl(var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) + calc(calc(100% - var(--primary-lightness)) / 50) * 36));
  --color-primary-300: hsl(var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) + calc(calc(100% - var(--primary-lightness)) / 50) * 27));
  --color-primary-400: hsl(var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) + calc(calc(100% - var(--primary-lightness)) / 50) * 16));
  --color-primary-500: hsl(var(--primary-hue) var(--primary-saturation) var(--primary-lightness));
  --color-primary-600: hsl(var(--primary-hue) var(--primary-saturation) calc(calc(var(--primary-lightness) / 50) * 45));
  --color-primary-700: hsl(var(--primary-hue) var(--primary-saturation) calc(calc(var(--primary-lightness) / 50) * 39));
  --color-primary-800: hsl(var(--primary-hue) var(--primary-saturation) calc(calc(var(--primary-lightness) / 50) * 32));
  --color-primary-900: hsl(var(--primary-hue) var(--primary-saturation) calc(calc(var(--primary-lightness) / 50) * 24));
  --color-dark: #111;

  /* Rather than having a hue, saturation and lightness, it is better to generate a custom palette for hextra-hextra-light and dark modes and have an accent color /*
  
  /* Light mode palette */
  /* 
  --color-hextra-light-50:  #f8f8f8;
  --color-hextra-light-100: #efefef;
  --color-hextra-light-200: #e7e7e7;
  --color-hextra-light-300: #dedede;
  --color-hextra-light-400: #d5d5d5;
  --color-hextra-light-500: #cdcdcd;
  --color-hextra-light-600: #c4c4c4;
  --color-hextra-light-700: #bbbbbb;
  --color-hextra-light-800: #b3b3b3;
  --color-hextra-light-900: #aaaaaa; 
  */

  --color-hextra-light-50:   oklch(98.8235% 0 0);   /* #fcfcfc */
  --color-hextra-light-100:  oklch(97.2549% 0 0);   /* #f8f8f8 */
  --color-hextra-light-200:  oklch(93.7255% 0 0);   /* #efefef */
  --color-hextra-light-300:  oklch(90.5882% 0 0);   /* #e7e7e7 */
  --color-hextra-light-400:  oklch(87.0588% 0 0);   /* #dedede */
  --color-hextra-light-500:  oklch(83.5294% 0 0);   /* #d5d5d5 */
  --color-hextra-light-600:  oklch(80.3922% 0 0);   /* #cdcdcd */
  --color-hextra-light-700:  oklch(76.8627% 0 0);   /* #c4c4c4 */
  --color-hextra-light-800:  oklch(73.3333% 0 0);   /* #bbbbbb */
  --color-hextra-light-900:  oklch(70.1961% 0 0);   /* #b3b3b3 */
  --color-hextra-light-950:  oklch(66.6667% 0 0);   /* #aaaaaa */

  
  /* Dark mode palette */
  /* 
  --color-hextra-dark-50:  #111111;
  --color-hextra-dark-100: #171717;
  --color-hextra-dark-200: #1c1c1c;
  --color-hextra-dark-300: #222222;
  --color-hextra-dark-400: #282828;
  --color-hextra-dark-500: #2d2d2d;
  --color-hextra-dark-600: #333333;
  --color-hextra-dark-700: #393939;
  --color-hextra-dark-800: #3e3e3e;
  --color-hextra-dark-900: #444444; 
  */
  
  --color-hextra-dark-50:   oklch(3.1373% 0 0);     /* #080808 */
  --color-hextra-dark-100:  oklch(6.6667% 0 0);     /* #111111 */
  --color-hextra-dark-200:  oklch(9.0196% 0 0);     /* #171717 */
  --color-hextra-dark-300:  oklch(10.9804% 0 0);    /* #1c1c1c */
  --color-hextra-dark-400:  oklch(13.3333% 0 0);    /* #222222 */
  --color-hextra-dark-500:  oklch(15.6863% 0 0);    /* #282828 */
  --color-hextra-dark-600:  oklch(17.6471% 0 0);    /* #2d2d2d */
  --color-hextra-dark-700:  oklch(20.0% 0 0);       /* #333333 */
  --color-hextra-dark-800:  oklch(22.3529% 0 0);    /* #393939 */
  --color-hextra-dark-900:  oklch(24.3137% 0 0);    /* #3e3e3e */
  --color-hextra-dark-950:  oklch(26.6667% 0 0);    /* #444444 */
  
  /* Accent color pelette */
  --color-hextra-accent-50: oklch(0.977 0.013 236.62);
  --color-hextra-accent-100: oklch(0.951 0.026 236.824);
  --color-hextra-accent-200: oklch(0.901 0.058 230.902);
  --color-hextra-accent-300: oklch(0.828 0.111 230.318);
  --color-hextra-accent-400: oklch(0.746 0.16 232.661);
  --color-hextra-accent-500: oklch(0.685 0.169 237.323);
  --color-hextra-accent-600: oklch(0.588 0.158 241.966);
  --color-hextra-accent-700: oklch(0.5 0.134 242.749);
  --color-hextra-accent-800: oklch(0.443 0.11 240.79);
  --color-hextra-accent-900: oklch(0.391 0.09 240.876);
  --color-hextra-accent-950: oklch(0.293 0.066 243.157);


  --color-hextra-light-background: var(--color-hextra-light-100);
  --color-hextra-dark-background: var(--color-hextra-dark-600);
}

html {
  @apply hx:text-base hx:antialiased;
}

/* 
  Dark mode background: hx:dark:background-hextra-dark-600;
  Light mode background: hx:background-hextra-light-100;
 */
body {
  @apply hx:w-full hx:bg-hextra-light-100 hx:dark:bg-hextra-dark-600 hx:dark:text-gray-100;
  /* @apply hx:w-full hx:bg-hextra-light-200 hx:dark:bg-hextra-dark-700 hx:dark:text-gray-100; */
  /* @apply hx:w-full hx:bg-hextra-light-50 hx:dark:bg-hextra-dark-50 hx:dark:text-gray-100; */
}

:root {
  --primary-hue: 212deg;
  --primary-saturation: 100%;
  --primary-lightness: 50%;
  --navbar-height: 4rem;
  --menu-height: 3.75rem; /* 60px */
}

.dark {
  --primary-hue: 204deg;
  --primary-saturation: 100%;
  --primary-lightness: 50%;
}

@import "./typography.css";
@import "./highlight.css";
@import "./components/cards.css";
@import "./components/steps.css";
@import "./components/search.css";
@import "./components/sidebar.css";
@import "./components/navbar.css";
@import "./components/scrollbar.css";
@import "./components/code-copy.css";
@import "./components/hextra/feature-grid.css";
@import "./components/jupyter.css";
@import "./components/badge.css";
