{{- /*
A shortcode to create a callout.

@param {string} type The type of the callout (default, info, warning, error, important).
@param {string} content The content of the callout.
@param {string} emoji The emoji of the callout.
@param {string} icon The icon of the callout (related to type or can be a custom icon).

@example {{< callout type="info" >}}Content{{< /callout >}}
*/ -}}

{{- $type := .Get "type" | default "default" -}}
{{- $emoji := .Get "emoji" -}}
{{- $icon := .Get "icon" -}}

{{- $styles := newScratch -}}
{{- $styles.Set "default" (dict
  "icon" "light-bulb"
  "style" "hx:border-green-400 hx:bg-green-50 hx:text-green-700 hx:dark:border-green-500/70 hx:dark:bg-green-950/60 hx:dark:text-green-400"
  )
-}}
{{- $styles.Set "info" (dict
  "icon" "information-circle"
  "style" "hx:border-blue-400 hx:bg-blue-50 hx:text-blue-700 hx:dark:border-blue-500/70 hx:dark:bg-blue-950/60 hx:dark:text-blue-400"
  )
-}}
{{- $styles.Set "warning" (dict
  "icon" "exclamation"
  "style" "hx:border-amber-400 hx:bg-amber-50 hx:text-amber-700 hx:dark:border-amber-500/70 hx:dark:bg-amber-950/60 hx:dark:text-amber-400"
  )
-}}
{{- $styles.Set "error" (dict
  "icon" "ban"
  "style" "hx:border-red-400 hx:bg-red-50 hx:text-red-700 hx:dark:border-red-500/70 hx:dark:bg-red-950/60 hx:dark:text-red-400"
  )
-}}
{{- $styles.Set "important" (dict
  "icon" "exclamation-circle"
  "style" "hx:border-purple-400 hx:bg-purple-50 hx:text-purple-700 hx:dark:border-purple-500/70 hx:dark:bg-purple-950/60 hx:dark:text-purple-400"
  )
-}}

{{- $style := or ($styles.Get $type) ($styles.Get "default") -}}

{{- if and (not $emoji) (not $icon) -}}
  {{- $icon = $style.icon -}}
{{- end -}}

{{- $content := .InnerDeindent | markdownify -}}

{{- partial "shortcodes/callout.html" (dict
  "content" $content
  "emoji" $emoji
  "icon" $icon
  "class" $style.style
  )
-}}
